<div style="display:flex">

  <div style="display: flex
              flex-direction: column;">
    <div>
      Repositories
    </div>

    <div>
      <ul>
        <% @repositories.all.each do |r| %>
        <li>
          <a href="/repositories/<%=r.id %>?revision=HEAD">
            <%= r.address %> (filter : <%= r.filter %>)
          </a>
        </li>
        <% end %>
        <li> <%= link_to("Create new repository", new_repository_path) %>
      </ul>
    </div>
  </div>

  <div>

  </div>

</div>
