<style type="text/css" media="screen">
  a.comment_line {
      color: rgba(155,0,0,1);
  }
  .warning_sel {
      position:   absolute;
      background: rgba(255,255,100,0.5);
      z-index:    20
  }
  .error_sel {
      position:   absolute;
      background: rgba(255,50,50,0.5);
      z-index:    40
  }
  .ace_selection {
      background: rgba(0,0,0,0.1) !important;
  }
</style>

<div style="display:flex">

  <div style="display: flex;
              flex-direction: column;">
    <div>
      <a href="/repositories/">Repository&nbsp;:</a> <%= @repository.address %>
      <input type="hidden" id="repository_id" value="<%= @repository.id %>"/>
      <input type="hidden" id="revision" value=""/>
      <input type="hidden" id="filename" value=""/>
    </div>

    <div>
      <%= select(:revision, :selector, @revisions,
          { include_blank: true },
          { onChange: "fetch_file_list()" })
          %>
    </div>

    <div style="height: 500px;">
      <ul id="file_tree">

      </ul>
    </div>
  </div>

  <div id="viewer" style="height: 900px; width: 900px">

  </div>

  <div>
    <button id="warning_button">Highlight warning</button>
    <button id="error_button">Highlight error</button>

    <div id="comments">

    </div>
  </div>

</div>

<script>
  var viewer = ace.edit("viewer");
  var markers = {};
  viewer.setReadOnly(true);
  viewer.$blockScrolling = Infinity; // fix logs
  viewer.setOptions({
      highlightActiveLine: false,
      fontSize: "13pt",
      theme: 'ace/theme/chrome',
  });
  function fetch_file_list() {
      const revision = $('#revision_selector').val();
      $.ajax({
          dataType: 'json',
          url: '/repositories/fetch_file_list' +
              '?id=' + $("#repository_id").val() +
              '&revision=' + revision })
          .done(function(data) {
              $("#revision").val(revision);
              load_files(data);
          });
  }

  function clear_markers() {
      Object.values(markers).forEach( (m) => {
          viewer.getSession().removeMarker(m);
      });
      markers = {};
  }

  function load_file(event) {
      const filename = $(event.target).data("file");
      const revision = $("#revision").val();
      $.ajax({
          dataType: 'text',
          url : '/repositories/fetch_file' +
              '?id=' + $("#repository_id").val() +
              '&revision=' + revision +
              "&file=" + filename })
          .done(function(data) {
              $("#filename").val(filename);
              viewer.setValue(data);
              viewer.session.setMode("ace/mode/python");
              viewer.clearSelection();
              viewer.navigateFileStart();
              clear_markers();
              load_comments(filename, revision);
          });
  }

  function load_files(data) {
      $("#file_tree").empty();
      const revision = $("#revision_selector").val();
      const keys = Object.keys(data);

      function fill_level(level) {
          const els = keys.filter((el) => data[el].parent == level);
          els.forEach(function (el) {
              const txtel = data[el].name;
              const domel = (level == "") ? $("#file_tree") : $("ul[data-file='" + level + "']");
              if(data[el].is_dir) {
                  domel.append($('<li>').text(txtel))
                      .append($('<ul data-file="' + el + '">'));
                  fill_level(el);
              } else {
                  const tel = data[el].has_comm ? "<a data-file='" + el + "' class='comment_line'>" +
                        txtel + "</a>" : "<a data-file='" + el + "'>" + txtel + "</a>";
                  domel.append($('<li>').html(tel));
              }
          });
      }

      fill_level("");
      $("#file_tree a").click(load_file);
  }

  function display_new_comment(comment) {
      const Range = require("ace/range").Range;
      const range = new Range(comment.range.start.row, comment.range.start.column,
                              comment.range.end.row,   comment.range.end.column);
      const marker = viewer.session.addMarker(range, comment.ctype + "_sel", "line");
      const div = "<a data-comment_id='" + comment.id + "'>&#10060;</a> " +
	    "<input type='text' value='" + comment.description +
	    "' onChange='save_comment_description(" + comment.id + ")'/>" +
	    "(l. " + comment.range.start.row +
            "-" + comment.range.end.row + ")";
      $("#comments").append($("<div id='comment_" + comment.id + "'>").html(div));
      $("a[data-file='" + comment.file + "']").addClass("comment_line");
      markers[comment.id.toString()] = marker;
      $("#comment_" + comment.id + " a").click(remove_comment);
      $("a[data-file='" + comment.file + "']").addClass("comment_line");
  }

  function save_new_comment(type) {
      return function () {
          const range = viewer.getSelectionRange();
          $.ajax({
              dataType: 'json',
              url: '/repositories/add_comment' +
                  '?id=' + $("#repository_id").val() +
                  '&revision=' + $("#revision").val() +
                  "&file=" + $("#filename").val() +
                  "&range=" + JSON.stringify(range) +
                  "&type=" + type})
              .done(display_new_comment);
      }
  }

  function save_comment_description(comment_id) {
      const text = $("#comments div#comment_" + comment_id + " input").val();
      $.ajax({
              dataType: 'json',
          url: '/repositories/save_comment_description' +
	      '?id=' + $("#repository_id").val() +
	      '&comment_id=' + comment_id +
	      '&description=' + text })
	  .done(() => alert("saved"));
  }

  function remove_comment(event) {
      const comment_id = $(event.target).data("comment_id");
      $.ajax({
          dataType: 'json',
          url: '/repositories/del_comment' +
              '?id=' + $("#repository_id").val() +
              '&comment_id=' + comment_id })
          .done(function () {
              $("#comment_" + comment_id).remove();
              viewer.getSession().removeMarker(markers[comment_id.toString()]);
	      if ($("#comments a").length == 0)
		  $("a[data-file='" + $("#filename").val() + "']").removeClass("comment_line");
          });
  }

  function load_comments(filename, revision) {
      $.ajax({
          dataType: 'json',
          url: '/repositories/fetch_comments' +
              '?id=' + $("#repository_id").val() +
              '&revision=' + revision +
              "&file=" + filename })
          .done(function(data) {
              $("#comments").empty();
              data.forEach(display_new_comment);
          });
  }

  <% if @selected_revision %>
    $("#revision_selector").val("<%= @selected_revision %>");
    fetch_file_list();
  <% end %>

  $("#warning_button").click(save_new_comment("warning"));
  $("#error_button").click(save_new_comment("error"));
</script>
