/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a.commented_file {
    color: rgba(155,0,0,1);
}
a.goto_line {
    color: rgba(0,50,200,1);
}
.ace_selection {
    background: rgba(0,0,0,0.1) !important;
}
.viewer_sel_warning {
    position:   absolute;
    background: rgba(255,255,100,0.5);
    z-index:    20
}
.viewer_sel_error {
    position:   absolute;
    background: rgba(255,75,50,0.3);
    z-index:    40
}
.viewer_overlay {
    position:absolute;
    z-index: 100;
    padding: 5px;
    width: 300px;
    border: 1px solid black;
}
.viewer_overlay_warning {
    background: rgba(255,255,50,0.4);
}
.viewer_overlay_warning textarea {
    background: rgba(255,255,200,0.7);
}
.viewer_overlay_error {
    background: rgba(255,100,75,0.4);
}
.viewer_overlay_error textarea {
    background: rgba(255,220,200,0.5);
}
div#global {
    display:flex;
}
div#viewer, div#side_viewer, div#home {
    flex: 2.5 1 0;
}
div#side_viewer, div#side_comments {
    visibility: collapse;
}
div#comments, div#revisions, div#side_comments {
    flex: 1 1 0;
}
div.viewer_header {
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-family: sans;
    font-size: larger;
    font-weight: bold;
    padding: 2px;
    color: white;
    background: rgba(75,100,255,1.0);
    border: 1px solid blue;
}
div.viewer_container {
    height: 100px;
}
div.visible_comment {
    background-color:rgba(150,200,255,1.0);
    border: 1px solid gray;
    margin: 3px;
    padding: 5px;
}
div.disabled_comment {
    background-color:rgba(235,235,245,1.0);
    border: 1px solid lightgray;
    color: gray;
    margin: 3px;
    padding: 5px;
}
div.other_comment {
    background-color:rgba(200,200,215,1.0);
    border: 1px solid gray;
    margin: 3px;
}
div.destroy_button {
    position:absolute;
    left:300px; top:-1px;
    padding: 2px;
    background: white;
    border: 1px solid black;
    z-index: 99;
    font-size: xx-small;
}
div.header {
    background: rgba(150,200,255,1.0);
    font-family: sans;
    font-size: smaller;
}
div.repository_name {
    display: block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: larger;
    font-weight: bold;
}
textarea.edit_comment {
    display: block;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.05);
    box-sizing: border-box;
    background-color: transparent;
}
div.show_comment {
    font-family: sans;
}
